<div class = "row" id = "home_page">
  <div class = "col-md-4"></div>
  <div class = "col-md-4">
    <%if user_signed_in? %>
        <div class = "featured_recipe">
        <% recipe = current_user.recipes.first %>
          <a href = "<%=my_recipe_url(recipe.id)%>" class = "item-link">
          <div class = "row">
            <%= recipe.name.upcase %>
          </div>
          <% if recipe.photo.file? %>
            <div class = "row">
              <%= image_tag recipe.photo.url(:medium) %>
            </div>
          <% end %>
          <div class = "row">
            <%= recipe.description %>
          </div>
          </a>
        </div>


    <% else %>
        No recipes to show
    <% end %>
  </div>
  <div class = "col-md-4"></div>
</div>