<%if user_signed_in? %>
    <% current_user.recipes.all.each do |recipe| %>

        <div class = "white user-item" >
          <a href = "<%=my_recipe_url(recipe.id)%>" class = "item-link">
            <div class = "item-box">
              <div class = "item-content">
                <div class = "item-desc">
                  <h5><%= recipe.name %></h5>
                </div>
              </div>
            </div>
          </a>
        </div>

    <% end %>
<% else %>
    No recipes to show
<% end %>