// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div#home_page {
  height: 600px;
  background-image: url("wood_cutting_board.jpeg");
  width: 100%;
  background-size: cover;
}
